header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  align-content: center;
}
.navbar-nav {
  width: 100%;
  gap: 22%;
}
.navbar-nav li a {
  color: #cee4ff;
  font-weight: 594;
}
.navbar {
  animation-duration: 3s;
  animation-name: fallNav;
  width: 98%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 1%;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}
@keyframes fallNav {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}
@media (max-width: 992px) {
    .navbar {
      font-size: 4.2rem;
        min-height: 120px;
    }

    .navbar-toggler-icon {
        width: 4.2rem!important;
        height:4.2rem!important;
    }
}
