
body{
     background-color: #0A0F1C;
    color: white;
    margin: 0;
}
.div-wht-dis{
    display: flex;
    align-content: center;
}
.titlePage{
    background-color: saddlebrown;
    height: 50vh;
    width: 20%;
    margin: 0 auto;
    padding: 5vh;
    border-radius: 0 3vh 3vh 0;
    align-content: center;
}
.titleOfBook{
    color: white;
    text-align: center;
    transform: translateY(8vh);
    margin-right: 10%;
}
.butonOne{
    height: 15vh;
    width: 15%;
    margin-left: 95%;
    transform: translateY(-5vh);
}
@media (max-width: 1000px){
    .navbar
    {
        margin: 0!important;
    }
    #uncouples-1,#uncouples-2,#uncouples-3{
    flex-direction: column-reverse;
    }
    .up-img{
    width: 90%;
        margin: 10px auto;
    }
    .down-img{
    width: 90%;
        margin: 10px auto;
    }
    #couples-1,#couples-2{
    flex-direction: column
    }
}

.forDivHis
{
    position: absolute;
    width: 20%;
    height: 40vh;
    border-radius: 0 3vh 3vh 0;
    margin: 30px;
    background-color: saddlebrown;
    text-align: center;
    align-content: center;
}
.leftAnim{
      animation-name: animationInLeft;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}

@keyframes animationInLeft{
    0%{
        transform: translateX(0) rotate3d(0, 1, 0, 0deg);
    }
    50%{
        transform: translateX(50%) rotate3d(0, 1, 0, 90deg);
    }
    100%{
        transform: translateX(100%) rotate3d(0, 1, 0, 180deg);
    }
}

.RightAnim{
      animation-name: animationInRight;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}

@keyframes animationInRight{
    0%{
        transform: translateX(100%) rotate3d(0, 1, 0, 180deg);
    }
    50%{
          transform: translateX(50%) rotate3d(0, 1, 0, 90deg);
    }
    100%{
        transform: translateX(0) rotate3d(0, 1, 0, 0deg);
    }
}
