
body{
     background-color: #0A0F1C;
    color: white;
    margin: 0;
}
.div-wht-dis{
    display: flex;
    align-content: center;
}
.up-img{
    width: 40%;
    margin-left: 7%;
        border-radius: 2vh;
}
.down-img{
    width: 40%;
    margin-right: 7%;
        border-radius: 2vh;
}
.title{
    text-align: center;
}
.wth-wid{
    width: 80%;
      margin: 0 auto;
}
.main-title{
    text-align: center;
    font-size:2.9rem;
}
.for-down-marg{
    margin: 0 0 5% 0;
}
