body {
  background-color: black !important;
  color: white !important;
}
.three-logo {
  margin-left: 20%;
  width: 30%;
  align-content: center;
  display: flex;
  gap: 7%;
  text-align: center;
}
.three-logo a {
  align-content: center;
  justify-content: space-around;
}
footer {
  background-color: black;
  color: white;
  margin: 0;
}
.litle-title {
  color: white;
  font-size: 30px;
  font-weight: 900;
  padding-top: 23px;
}
.div-wht-dis {
  display: flex;
  align-content: center;
}
.div-wht-disp {
  display: flex;
}
.proba {
  width: 100%;
}
.for-marg {
  margin-left: 5%;
}
.logo {
  width: 77%;
  filter: grayscale(100%);
}
.for-logo {
  align-content: center;
  text-align: center;
}
svg {
  padding-right: 13px;
  width: 49px;
}
@media (max-width: 1000px) {
  .litle-title {
    color: white;
    font-size: 55px;
    font-weight: 1013;
  }
  svg {
    padding-right: 13px;
    width: 49px;
  }
  p {
    font-size: 35px;
  }
  footer {
    width: 79vh;
    padding: 131px;
  }
  .logo {
    width: 163%;
  }
  .three-logo {
    margin-left: 15%;
    width: 30%;
    align-content: center;
    display: flex;
    gap: 7%;
    text-align: center;
  }
}
