body {
  background-color: black !important;
  color: white !important;
}
main{
margin-top: 10%
}
.three-logo {
  width: 30%;
  align-content: center;
  display: flex;
  gap: 7%;
  text-align: center;
}
.three-logo a {
  align-content: center;
  justify-content: space-around;
}
footer {
  background-color: black;
  color: white;
  margin: 0;
}
.litle-title {
  color: white;
  font-size: 30px;
  font-weight: 900;
  padding-top: 23px;
}
.div-wht-dis {
  display: flex;
  justify-content: space-around;
}
.div-wht-disp {
  display: flex;
}
.proba {
  width: 100%;
}
.for-marg {
  margin-left: 5%;
}
.logo {
  width: 77%;
  filter: grayscale(100%);

}
.for-logo {
  align-content: center;
  text-align: center;
}
svg {
  padding-right: 13px;
  width: 49px;
}
@media (max-width: 1000px) {
  .litle-title {
    color: white;
    font-size: 55px;
    font-weight: 1013;
  }
  svg {
    padding-right: 13px;
    width: 50px;
    height: 50px
  }
  p {
    font-size: 35px;
  }
  footer {
    width: 99vh;
    padding: 1;
  }
  .logo {
    width: 40%;
    margin: 0 auto;
  }
  .three-logo {
    width: 30%;
    align-content: center;
    display: flex;
    margin: 0 auto;
  justify-content: center;

    text-align: center;
  }
  .for-marg{
  margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main{
    margin-top: 15%
  }

}
@media (max-width:1000px){
  footer{
    width: 100%;
  }
}
footer{
justify-content: space-around;
}
