header{
    position: sticky;
    top:0;
    align-content: center;
}
.navbar{
    position: sticky;
    top:0;
    display: flex;
   background: linear-gradient(135deg, #1e3c72, #2a5298);

      border-radius: 36vh;
}
.navbar a{
 text-decoration: none;
 color: black;
}
.navbar ul{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-around;
     list-style-type:none;
}
.navbar ul li{
    position: sticky;
    top:0;
     width: 20vw;
}
.black-button{
 background-color:rgba(255, 255, 255, 0.16) ;
 border-radius: 2vh;
 border: solid white;
 height: 5vh;
 width: 57%;
}
.black-button:hover{
 background-color:black;
  border: solid black;
 color: white;
}
body{
     background-color: #0A0F1C;
    color: white;
    margin: 0;
}
.div-wht-dis{
    display: flex;
    align-content: center;
}
.up-img{
    width: 40%;
    margin-left: 7%;
        border-radius: 2vh;
    box-shadow: 1px 3px 96px rgba(42, 82, 152, 0.41);
}
.down-img{
    width: 40%;
    margin-right: 7%;
        border-radius: 2vh;
    box-shadow: 1px 3px 96px rgba(42, 82, 152, 0.41);
}
.title{
    text-align: center;
    font-size: 3vh;
    font-variant-east-asian: full-width;
}
.wth-wid{
    width: 80%;
      margin: 0 auto;
    text-align: center;
    font-size: 2.5vh;
}
.main-title{
    text-align: center;
    color: #8c9ebe;
    font-size:3rem;
}
.three-logo{
 margin-left: 20%;
 width: 30%;
 align-content: center;
 display: flex;
 gap: 7%;
 text-align: center;
}
.three-logo a{
 align-content: center;
justify-content: space-around;
}
footer{
 background-color: black;
 color: white;
 margin: 0;
 padding: 0;
}
.litle-title{
 color: white;
 font-size: 30px;
}
.div-wht-dis{
 display: flex;
 align-content: center;
}
.div-wht-disp{
 display: flex;
 align-content: center;
}
.proba{
 transform: translateY(-2vh);
}
.for-marg{
 margin-left: 4%;
}
.logo{
 width: 75%;
 filter: grayscale(100%);
}
.for-logo{
  align-content: center;
 text-align: center;
}
.for-down-marg{
    margin: 0 0 5% 0;
}
