body{
     background-color: #0A0F1C;
    margin: 0 auto;
}
.color-for-div{
    background-color: #0A0F1C;
    background-size: cover;
    background-position: center;
      height: 100vh;
    width: 100%;
}
.img-form{
    height: 90vh;
    width: 100%;
    clip-path: polygon(1% 15%,30% 15%,30% 1%, 60% 1%,60% 30%,99% 30%, 99% 80%,65% 80%,65% 99%, 40% 99%,40% 80%,25% 80%,25% 70%,1% 70%)
}
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
    align-content: center;
}
header{
    position: fixed;
    top:0;
    align-content: center;
}
.navbar-nav{
 width: 100%;
 gap:22%;
}
.navbar-nav li a{
 color: #cee4ff;
 font-weight: 594;
}
.navbar{
 width: 98%;
 margin: 0 auto;
 border-radius: 10px;
 margin-top: 1%;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}
.black-button{
 background-color:rgba(255, 255, 255, 0.16) ;
 border-radius: 2vh;
 border: solid white;
 height: 5vh;
 width: 57%;
}
.black-button:hover{
 background-color:black;
  border: solid black;
 color: white;
}
.second-title{
 color: white;
 text-align: center;
}
.for-text{
 color: white;
 text-align: center;
 background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
width: 70%;
 margin: 0 auto;
 height: 30vh;
 align-content: center;
 border-radius: 4vh;
 border: solid white;
}
.one-img{
 width: 30%;
 height: 35vh;
 border-radius: 4vh;
}
.one-img:hover{
 transform: scale(1.1);
 transition: 0.8s;
}
.zah-for-three{
 text-align: center;
 margin: 5% 0 0 0;
}
.title{
    color: white;
    text-align: center;
}
.center{
    text-align: center;
    transform: translateY(-4vh);
    height: 60vh;
    margin: 0 auto;
}
.for-center{
    text-align: center;
    height: 80vh;
}
.first-div{
    color: white;
    background: linear-gradient(135deg, #1e3640, #2a5462, #2390be);
    height: 8vh;
    width: 25%;
    border:solid white;
    border-radius: 4vh;
    margin: 0 auto;
    transform: translateY(9vh);
}
.first-div1{
    color: white;
    background: linear-gradient(135deg, #1e3640, #2a5462, #2390be);
    height: 8vh;
    width: 25%;
    align-content: center;
    border:solid white;
    border-radius: 4vh;
    margin: 0 auto;
    transform: translateY(-27vh);
}
.div-wht-dis{
    display: flex;
}
.div-wht-dis2{
    display: flex;
    justify-content: space-around;
    transform: translateY(12vh);
}
.div-wht-dis3{
    display: flex;
    justify-content: space-around;
    transform: translateY(-31vh);
}
.div-wht-dis4{
    display: flex;
    transform: translateY(-40vh);
}
.text-aling{
    align-content: center;
}
.a-div{
    color: white;
    background: linear-gradient(135deg, #1e3640, #2a5462, #2390be);
    height: 8vh;
    width: 20%;
    border:solid white;
    border-radius: 4vh;
}
.rob2-div{
    color: white;
    background: linear-gradient(135deg, #1e3640, #2a5462, #2390be);
    height: 8vh;
    width: 20%;
    border:solid white;
    border-radius: 4vh;
    transform: translateX(-14%);
}
.rob-div{
    color: white;
    background: linear-gradient(135deg, #1e3640, #2a5462, #2390be);
    height: 9vh;
    width: 23%;
    border:solid white;
    align-content: center;
    border-radius: 4vh;
    margin-right:   23%;
}
.trans{
    transform: translateY(-1vh);
}
.aa-div{
    color: white;
    background: linear-gradient(135deg, #1e3640, #2a5462, #2390be);
    height: 8vh;
    width: 20%;
    border:solid white;
    border-radius: 4vh;
    margin-left: 4%;
}
.b-div{
    color: white;
    background: linear-gradient(135deg, #1e3640, #2a5462, #2390be);
    height: 8vh;
    width: 20%;
    border:solid white;
    border-radius: 4vh;
    margin-left: 50%;
}
.l-div{
    color: white;
    background: linear-gradient(135deg, #1e3640, #2a5462, #2390be);
    height: 8vh;
    width: 39%;
    align-content: center;
    border:solid white;
    border-radius: 4vh;
}
.fifty{
    width: 30%;
}
.text{
    color: white;
    margin: 0 auto;
    align-content: center;
}
.for-vid{
    width: 100%;
    height: 37vh;
    border: solid white;
    border-radius: 2vh;
    margin: 13% 0 0 0;
}
.pos-for-div{
    align-content: center;
    margin-right: 3%;
}
.three-logo{
 margin-left: 20%;
 width: 30%;
 align-content: center;
 display: flex;
 gap: 7%;
 text-align: center;
}
.three-logo a{
 align-content: center;
justify-content: space-around;
}
footer{
 background-color: black;
 color: white;
 margin: 0;
 padding: 0;
}
.litle-title{
 color: white;
 font-size: 30px;
}
.div-wht-dis{
 display: flex;
 align-content: center;
}
.div-wht-disp{
 display: flex;
 align-content: center;
}
.proba{
 transform: translateY(-2vh);
}
.for-marg{
 margin-left: 4%;
}
.logo{
 width: 75%;
 filter: grayscale(100%);
}
.for-logo{
  align-content: center;
 text-align: center;
}
.for-down-marg{
    margin-bottom: 5%;
}
