body{
    margin: 0;
}
.dag-im{
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmF3NDBjbmh6eGZvYWgyb2NhdnEyNDF0bjB4OW9vNzNjbW5oNjk1MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5k5vZwRFZR5aZeniqb/giphy.gif');
    background-size: cover;
    background-position: center;
    height: 88vh;
    width: 100%;
}

.black-button{
 background-color:rgba(255, 255, 255, 0.16) ;
 border-radius: 2vh;
 border: solid white;
 height: 5vh;
 width: 57%;
}
.black-button:hover{
 background-color:black;
  border: solid black;
 color: white;
}
.title{
    color: white;
}
.left-up{
    width: 40%;
    height: 30vh;
    background-color: #303030;
    align-content: center;
    clip-path: polygon(0 0, 55% 0, 55% 23%, 100% 23%, 100% 100%, 0 100%);
    border-radius: 4vh;
}
.left-down{
     width: 25%;
    height: 20vh;
    background-color: #303030;
    align-content: center;
    border-radius: 4vh;
    color: white;
    text-align: center;
}
.right-div{
     width: 30%;
    height: 30vh;
    background-color: #303030;
    align-content: center;
     border-radius: 4vh;
    color: white;
    margin: 0 0 0 45%;
}
.right-left{
     width: 30%;
    height: 30vh;
    background-color: #303030;
    align-content: center;
     border-radius: 4vh;
    color: white;
    margin:  0 0 0 32%;
}
.wth-dis{
    display: flex;
}
.wth-dis1{
    display: flex;
    margin: 13% 0 0 0;
}

