header {
    position: sticky;
    top: 0;
    align-content: center;
}
main{
    margin-top: 78px;
}
h1,
h3 {
    font-family: "Science Gothic", sans-serif;
    color: #8c9ebe;
    font-size: 3vh;
    font-weight: 1112;
}
.h4 {
    font-weight: 1000;
}
.black-button {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 2vh;
    border: solid white;
    height: 5vh;
    width: 57%;
}
.black-button:hover {
    background-color: black;
    border: solid black;
    color: white;
}
body {
    background-color: #0a0f1c;
    color: white;
    margin: 0;

}
.for-img {
    width: 80%;
    margin: 0 10% 0 10%;
    border-radius: 40px;
    box-shadow: 1px 3px 183px rgba(42, 82, 152, 0.41);
}
.htoiyak {
    text-align: center;
    font-size: 3vh;
    margin-top: 30px;
    margin-bottom: 0 auto;
}
.text {
    font-weight: 1000;
    font-size: larger;
    text-align: center;
    margin: 3% 5% 0 5%;
    color: aliceblue;
}
.title {
    text-align: center;
    font-size: 2rem;
    color: #8c9ebe;
    width: 90%;
    margin: 40px;
}
.div-wth-info {
    margin: 0 13% 0 0%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.two-down {
    margin: 1% 0 5% 0%;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    display: flex;
    gap: 3%;
}
.image-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2vh;
}
.image-container img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transition: all 0.5s ease;

}
.overlay {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 198, 255, 0.7), rgba(0, 114, 255, 0.69));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(20px);
}
.overlay h3,
h4 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    transform: translateY(-20px);
    transition: all 0.3s ease;
}
.overlay h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    transform: translateY(-20px);
    transition: all 0.3s ease;
}
.overlay p {
    font-size: 16px;
    transform: translateY(20px);
    transition: all 0.3s ease;
    text-align: center;
    padding: 0 20px;
}
.image-container:hover img {
    transition: scale(1.1);
    filter: brightness(0.7);
}
.image-container:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}
.image-container:hover .overlay h3 {
    transform: translateY(0);
    transition-delay: 0.2s;
}
.image-container:hover .overlay h2 {
    transform: translateY(0);
    transition-delay: 0.2s;
}
.image-container:hover .overlay p {
    transform: translateY(0);
    transition-delay: 0.3s;
}
.image-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.6s ease;
}
.image-container:hover::after {
    left: 150%;
}
.footer{
    padding-top: 100px;
}
.litle-title{
    padding-top: 27px;
}

@media (max-width: 1000px) {
    .div-wth-info {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        right: 50%;
        transform: translate(36%);
    }
    .two-down {
        margin: 0;
        flex-wrap: wrap;
        display: flex;
        right: 50%;
        transform: translate(50%);
        width: 600px
    }
}
