body
{
margin: 0;
}
.img-form{
position: absolute;
height: 80%;
width: 100%;
z-index: -100
}
.section1
{
display: flex;
width: 80%
}
.section1 div
{
background-color: #1500ff;
width: 20%;
height: 20%
}
.left
{
display: flex;
flex-direction: column;
justify-content: left;
width: 50%;
}
.right
{
display: flex;
flex-direction: column;
justify-content: right;
width: 50%;
}
right-left{
display: flex;

}
/* */
